<!DOCTYPE html>
<html>
    <head>
        <title>Atlas Main</title>
    </head>
    <body>
        <h1>Welcome to Atlas</h1>
        <h3>Atlas is a random address generator that pulls from an internal database to generate random, geolocatable addresses within the United States.</h3>
        <p>Atlas empowers users to populate their web apps with true and accurate test data. Sourcing from <a href="https://openaddresses.io" target="_blank">Open Addresses</a>, Atlas is an API for querying random addresses. Whether populating test data, testing your geolocation service, or any other use, Atlas has the data.</p>
        <h2>How To Use Atlas</h2>
        <p>Atlas is a simple API. The query url is as follows <i>/api/random</i> with a handful of query parameters. </p>
    </body>
</html>